# Type Conversions

In [1]:
a = 10
b = float(a)
print(b)

10.0

In [2]:
a = "10"
b = int(a)
print(b)

10

In [3]:
a = 20
b = str(a)
print(b)
print(type(b))

20
<class 'str'>

In [4]:
a = 0
b = bool(a)
print(b)

False

In [5]:
a = "Hanna"
b = bool(a)
print(b)

True

In [6]:
a = [1, 2, 3, 4, 5]
b = tuple(a)
print(b)

(1, 2, 3, 4, 5)

In [7]:
a = (1, 2, 3, 4, 5)
b = list(a)
print(b)

[1, 2, 3, 4, 5]

In [8]:
a = [1, 1, 2, 3, 4, 5]
b = set(a)
print(b)

{1, 2, 3, 4, 5}

In [9]:
a = (1, "Hanna", "Sivaram")
a = list(a)
a.append("Asra")
a = tuple(a)
print(a)

(1, 'Hanna', 'Sivaram', 'Asra')

In [10]:
a = [1, 2, 3, 4]
b = dict(a)
print(b)

TypeError: cannot convert dictionary update sequence element #0 to a sequence